FORMAT: 1A
HOST: http://www.swewars.me

# ReturnOfTheAPI

ReturnOfTheAPI is a simple API used to obtain information about people, planets, and species from the Star Wars films.

## Phase 1: Static Content

For Phase 1 of the IDB project, our web application pulls data from the Star Wars API (SWAPI) and data hardcoded into API calls taken manually from Wookieepedia.

## People [/get_people]
**/get_people**

Requests data on the first three people in SWAPI and adds a description pulled manually from Wookieepedia. Also includes the ID for each person's homeworld and species.

### GET People [GET]

+ Response 200 (application/json)

        {
            'people': 
                [
                    {
                        'height': '172',
                        'description': 
                            "Luke Skywalker was a Force-sensitive Human male who helped defeat the Galactic Empire in the Galactic Civil War and helped found the New Republic, as well as the New Jedi Order. Born in 19 BBY as the son of the fallen Jedi Knight Anakin Skywalker and the Queen and Senator of Naboo, Padmé Amidala, Luke was raised on Tatooine and hidden from Emperor Palpatine and his father, who had recently become Darth Vader, Dark Lord of the Sith. In 0 BBY, Skywalker's life changed forever. A chance purchase of two droids, R2-D2 and C-3PO, led to him to receive training in the ways of the Force from Jedi Master Obi-Wan Kenobi and to meet Han Solo, and Princess Leia Organa, who was, unbeknownst to him, his twin sister. Skywalker then destroyed the first Death Star and joined the Rebel Alliance.",
                        'birth_year': '19BBY',
                        'hair_color': 'blond',
                        'name': 'Luke Skywalker',
                        'gender': 'male',
                        'id': 1,
                        'homeworld': 1,
                        'eye_color': 'blue',
                        'species': [1]
                    },
                    {
                        'height': '167',
                        'description':
                            'C-3PO, sometimes spelled See-Threepio and often referred to as Threepio, was a bipedal, humanoid protocol droid designed to interact with organics, programmed primarily for etiquette and protocol. He was fluent in over six million forms of communication, and developed a fussy and worry-prone personality throughout his many decades of operation. After being destroyed and discarded on the planet Tatooine before 32 BBY, C-3PO was rebuilt; his salvaged nature gave him special qualities that distinguished him from similar droid models. Along with his counterpart, the astromech droid R2-D2, C-3PO constantly found himself directly involved in pivotal moments of galactic history, and aided in saving the galaxy on many occasions. C-3PO considered various droids and organics to be friends of his, and was very dedicated to them, as well as to any master that he served.',
                        'birth_year': '112BBY',
                        'hair_color': 'n/a',
                        'name': 'C-3PO',
                        'gender': 'n/a',
                        'id': 2,
                        'homeworld': 1,
                        'eye_color': 'yellow',
                        'species': [2]
                    },
                    {
                        'height': '96',
                        'description': 
                            'R2-D2, pronounced Artoo-Detoo and often referred to as Artoo, was an R2-series astromech droid manufactured by Industrial Automaton prior to 32 BBY. Resourceful and spunky, the droid developed an adventurous personality during his many decades of operation. Inside of his cylindrical frame were many arms, sensors, and other tools that could be extended to fulfill various needs, such as slicing computers, extinguishing fires, projecting holograms, repairing starships, and flying. Along with his counterpart, the protocol droid C-3PO, R2-D2 constantly found himself directly involved in pivotal moments of galactic history. His bravery, coupled with his many gadgets, played large roles in saving the galaxy time and time again. Like other astromech droids, R2-D2 could walk on two legs or use a third leg to roll across the ground.',
                        'birth_year': '33BBY',
                        'hair_color': 'n/a',
                        'name': 'R2-D2',
                        'gender': 'n/a',
                        'id': 3,
                        'homeworld': 8,
                        'eye_color': 'red',
                        'species': [2]
                    }
                ]
        }

## Planets [/get_planets]
**/get_planets**

Requests data on the first three planets in SWAPI and adds a description pulled manually from Wookieepedia. Also includes the IDs for each planet's residents.

### GET Planets [GET]

+ Response 200 (application/json)

        {
            'planets':
                [
                    {
                        'name': 'Tatooine',
                        'gravity': '1 standard',
                        'population': '200000',
                        'residents':
                            [1, 2, 4, 6, 7, 8, 9, 11, 43, 62],
                        'id': 1,
                        'description': 
                            "Tatooine (pronounced /tætu'in/; Jawaese: Tah doo Een e[8]) was a desert world and the first planet in the binary Tatoo star system. It was part of the Arkanis sector in the Outer Rim Territories. It was inhabited by poor locals who mostly farmed moisture for a living. Other activities included used equipment retailing and scrap dealing. The planet was on the 5709-DC Shipping Lane, a spur of the Triellus Trade Route, which itself connected to the Sisar Run. The planet was not far from the Corellian Run. It had its own navigation system. However, it would still play a role in galactic events, serving as the home of Anakin Skywalker. It was here that Jedi Master Qui-Gon Jinn recognized Anakin's potential to become a Jedi and where he introduced him to Obi-Wan Kenobi, his future master and mentor. Tatooine was also the home of Anakin's son, Luke, where he lived until his early adulthood. The planet acquired a bad reputation, often being viewed as the cesspool of the galaxy due to the large number of criminals who could be found there.",
                        'terrain': 'desert',
                        'climate': 'arid'
                    },
                    {
                        'name': 'Alderaan',
                        'gravity': '1 standard',
                        'population': '2000000000',
                        'residents': 
                            [5, 68, 81],
                        'id': 2,
                        'description':
                            "Alderaan, located in the Core Worlds, was the second planet in the Alderaan system, and the home of many famous heroes, including Leia Organa Solo, Bail Organa, and Ulic Qel-Droma. Renowned galaxy-wide for their planet's unspoiled beauty, refined culture, and commitment to peace, Alderaanians worked with and around the land to preserve as much of the natural surroundings as they could. Originally the home of the Killiks, Alderaan was later conquered by Humans. Despite a battle during the Great Galactic War and a civil war during the subsequent Cold War, Alderaan remained peaceful during much of galactic history. However, in 0 BBY, Grand Moff Tarkin and the Galactic Empire wanted to intimidate the galaxy into submission, and destroyed the unarmed and peaceful planet using the first Death Star's superlaser.",
                        'terrain': 'grasslands, mountains',
                        'climate': 'temperate'
                    },
                    {
                        'name': 'Yavin IV',
                        'gravity': '1 standard',
                        'population': '1000',
                        'residents': 
                            [],
                        'id': 3,
                        'description':
                            'Yavin 4 was one of three habitable moons orbiting the gas giant Yavin. It was mainly covered in jungle and rainforest, and despite being remote and unheard of, it would play an important role in galactic events, including the seduction of Jedi Knight Exar Kun to the dark side and the destruction of Sith Lord Freedon Nadd during the Great Sith War, the site of the eventual final death of the maddened Jedi Revan in the waning days of the Galactic War, a ferocious duel between Jedi and Sith during the Clone Wars, and serving as the base of the Alliance to Restore the Republic during the Battle of Yavin and as a battlefield in other battles of the Galactic Civil War. An attack was launched on the Death Star from this moon. It also became the base for a Jedi Academy after the war ended.',
                        'terrain': 'jungle, rainforests',
                        'climate': 'temperate, tropical'
                    }
                ]
        }

## Species [/get_species]
**/get_species**

Requests data on the first three species in SWAPI and adds a description pulled manually from Wookieepedia. Also includes the IDs for each species' homeworld and people.

### GET Species [GET]

+ Response 200 (application/json)

        {
            'species':
                [
                    {
                        'language': 'Galactic Basic',
                        'name': 'Human',
                        'description':
                            "Humans, taxonomically referred to as Homo sapiens, were the galaxy's most numerous and politically dominant sentient species with millions of major and minor colonies galaxywide. Believed to have originated on the galactic capital of Coruscant, they could be found anywhere, engaged in many different pursuits: spacers, mercenaries, smugglers, merchants, soldiers, assassins, farmers, crime lords, laborers, slaves, slavers, and many others, including Jedi and Sith. Since Humans were the most common sentient species, they were often considered to be a standard or average to which the biology, psychology, and culture of other species were compared.",
                        'average_lifespan': '120',
                        'classification': 'mammal',
                        'id': 1,
                        'homeworld': 9,
                        'average_height': '180',
                        'people':
                            [1, 4, 5, 6, 7, 9, 10, 11, 12, 14, 18, 19, 21, 22, 25, 26, 28, 29, 32, 34, 35, 43, 51, 60, 61, 62, 66, 67, 68, 69, 74, 81, 84, 85, 86]
                    },
                    {
                        'language': 'n/a',
                        'classification': 'artificial',
                        'description':
                            'Droids, short for androids, or also called robots, were mechanical beings, often possessing artificial intelligence. They were used in a variety of roles and environments, often those considered too menial or too dangerous for humans and other species. Droids were also used in fields that required extensive specialization and knowledge, such as medical droids and astromech droids. Droids designed for combat were battle droids. Depending on the model and its corresponding purpose, droids were totally obedient, rugged, expendable, capable of vast memory recall, and mathematically precise. These characteristics made them well suited for many jobs, though the lack of independent thought in the cheaper, less advanced models limited their capability. This lack of autonomy was simultaneously a vast asset and a glaring weakness—an asset in terms of obedience and control but a massive drawback in terms of effectiveness. Designers faced a fundamental paradox—make the droids overly intelligent, and they might rebel; yet make the droids not intelligent enough and they would be ineffectual. Customarily, droid names were an arrangement of numbers and letters.',
                        'average_lifespan': 'indefinite',
                        'name': 'Droid',
                        'id': 2,
                        'average_height': 'n/a',
                        'people': 
                            [2, 3, 8, 23, 87]
                    },
                    {
                        'language': 'Shyriiwook',
                        'name': 'Wookiee',
                        'description':
                            "The Wookiees, whose name for themselves translated to the People of the Trees, were a species of tall, hairy humanoids that were inhabitants of the planet Kashyyyk. One of the most noteworthy members of the species was Chewbacca, Han Solo's best friend and co-pilot, who played a vital role in the Galactic Civil War and afterwards. A race of arboreal mammals, the Wookiees lived in treehouses nestled in the canopy of the towering wroshyr trees. Despite their fearsome appearance, they were usually gentle, although they were prone to devastating fits of rage when provoked.",
                        'average_lifespan': '400',
                        'classification': 'mammal',
                        'id': 3,
                        'homeworld': 14,
                        'average_height': '210',
                        'people':
                            [13, 80]
                    }
                ]
        }
        
## Single Person [/get_person/{personID}]
**/get_person/{personID}**

Requests data on a person in SWAPI described by personID and adds a description pulled manually from Wookieepedia. Also includes the ID for the person's homeworld and species.

### GET Single Person [GET]

+ Response 200 (application/json)

        {
            'person':
                {
                    'description':
                        "Luke Skywalker was a Force-sensitive Human male who helped defeat the Galactic Empire in the Galactic Civil War and helped found the New Republic, as well as the New Jedi Order. Born in 19 BBY as the son of the fallen Jedi Knight Anakin Skywalker and the Queen and Senator of Naboo, Padmé Amidala, Luke was raised on Tatooine and hidden from Emperor Palpatine and his father, who had recently become Darth Vader, Dark Lord of the Sith. In 0 BBY, Skywalker's life changed forever. A chance purchase of two droids, R2-D2 and C-3PO, led to him to receive training in the ways of the Force from Jedi Master Obi-Wan Kenobi and to meet Han Solo, and Princess Leia Organa, who was, unbeknownst to him, his twin sister. Skywalker then destroyed the first Death Star and joined the Rebel Alliance.",
                    'height': '172',
                    'hair_color': 'blond',
                    'eye_color': 'blue',
                    'homeworld': 1,
                    'species': [1],
                    'name': 'Luke Skywalker',
                    'id': 1,
                    'gender': 'male',
                    'birth_year': '19BBY'
                }
        }
        
## Single Planet [/get_planet/{planetID}]
**/get_planet/{planetID}**

Requests data on a planet in SWAPI described by planetID and adds a description pulled manually from Wookieepedia. Also includes the IDs for the planet's residents.

### GET Single Person [GET]

+ Response 200 (application/json)

        {
            'planet':
                {
                    'terrain': 'desert',
                    'description':
                        "Tatooine (pronounced /tætu'in/; Jawaese: Tah doo Een e[8]) was a desert world and the first planet in the binary Tatoo star system. It was part of the Arkanis sector in the Outer Rim Territories. It was inhabited by poor locals who mostly farmed moisture for a living. Other activities included used equipment retailing and scrap dealing. The planet was on the 5709-DC Shipping Lane, a spur of the Triellus Trade Route, which itself connected to the Sisar Run. The planet was not far from the Corellian Run. It had its own navigation system. However, it would still play a role in galactic events, serving as the home of Anakin Skywalker. It was here that Jedi Master Qui-Gon Jinn recognized Anakin's potential to become a Jedi and where he introduced him to Obi-Wan Kenobi, his future master and mentor. Tatooine was also the home of Anakin's son, Luke, where he lived until his early adulthood. The planet acquired a bad reputation, often being viewed as the cesspool of the galaxy due to the large number of criminals who could be found there.",
                    'name': 'Tatooine',
                    'gravity': '1 standard',
                    'climate': 'arid',
                    'id': 1,
                    'residents':
                        [1, 2, 4, 6, 7, 8, 9, 11, 43, 62],
                    'population': '200000'
                }
        }
        
## Single Species [/get_s/{speciesID}]
**/get_s/{speciesID}**

Requests data on a species in SWAPI described by speciesID and adds a description pulled manually from Wookieepedia. Also includes the IDs for each species' homeworld and people.

### GET Single Species [GET]

+ Response 200 (application/json)

        {
            'species':
                {
                    'average_lifespan': '120',
                    'people':
                        [1, 4, 5, 6, 7, 9, 10, 11, 12, 14, 18, 19, 21, 22, 25, 26, 28, 29, 32, 34, 35, 43, 51, 60, 61, 62, 66, 67, 68, 69, 74, 81, 84, 85, 86],
                    'name': 'Human',
                    'id': 1,
                    'average_height': '180',
                    'homeworld': 9,
                    'description':
                        "Humans, taxonomically referred to as Homo sapiens, were the galaxy's most numerous and politically dominant sentient species with millions of major and minor colonies galaxywide. Believed to have originated on the galactic capital of Coruscant, they could be found anywhere, engaged in many different pursuits: spacers, mercenaries, smugglers, merchants, soldiers, assassins, farmers, crime lords, laborers, slaves, slavers, and many others, including Jedi and Sith. Since Humans were the most common sentient species, they were often considered to be a standard or average to which the biology, psychology, and culture of other species were compared.",
                    'language': 'Galactic Basic',
                    'classification': 'mammal'
                }
        }
