<div class="partial" id="people" ng-controller="PeopleListController">
    <div class="container">
        <table class="table sw-table">
            <th>
                <a href="" ng-click="sortType = 'name' ; sortReverse = !sortReverse">Name</a>
                <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-up"</span>
            </th>
            <th>
                <a href="" ng-click="sortType = 'gender' ; sortReverse = !sortReverse">Gender</a>
                <span ng-show="sortType == 'gender' && sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'gender' && !sortReverse" class="fa fa-caret-up"</span>
            </th>
            <th>
                <a href="" ng-click="sortType = 'birth_year' ; sortReverse = !sortReverse">Birth Year</a>
                <span ng-show="sortType == 'birth_year' && sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'birth_year' && !sortReverse" class="fa fa-caret-up"</span>
            </th>
            <th>
                <a href="" ng-click="sortType = 'height' ; sortReverse = !sortReverse">Height</a>
                <span ng-show="sortType == 'height' && sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'height' && !sortReverse" class="fa fa-caret-up"</span>
            </th>
            <th>
                <a href="" ng-click="sortType = 'mass' ; sortReverse = !sortReverse">Mass</a>
                <span ng-show="sortType == 'mass' && sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'mass' && !sortReverse" class="fa fa-caret-up"</span>
            </th>
            <th>
                <a href="" ng-click="sortType = 'hair_color' ; sortReverse = !sortReverse">Hair Color</a>
                <span ng-show="sortType == 'hair_color' && sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'hair_color' && !sortReverse" class="fa fa-caret-up"</span>
            </th>
            <th>
                <a href="" ng-click="sortType = 'eye_color' ; sortReverse = !sortReverse">Eye Color</a>
                <span ng-show="sortType == 'eye_color' && sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'eye_color' && !sortReverse" class="fa fa-caret-up"</span>
            </th>
            <tr dir-paginate="person in people | orderBy:sortType:sortReverse | itemsPerPage : pageSize" current-page="currentPage">
                <td><a ng-href="/people/{{person.id}}">{{person.name}}</a></td>
                <td>{{person.gender}}</td>
                <td>{{person.birth_year}}</td>
                <td>{{person.height}}</td>
                <td>{{person.mass}}</td>
                <td>{{person.hair_color}}</td>
                <td>{{person.eye_color}}</td>
            </tr>
        </table>
        <div class="text-center">
            <dir-pagination-controls boundary-links="true" template-url="other/dirPagination.tpl.html"></dir-pagination-controls>
        </div>
    </div>
</div>