<div class="partial" ng-controller="PersonDetailController">
    <div class="container">
        <div class="row detail">
            <div class="col-md-4 text-center">
                <img class="detail-img" src="img/{{img}}">
            </div>
            <div class="col-md-8 detail-info">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1 class="title-md">{{person.name}}</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h4>{{person.description}}</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table sw-table">
                            <tr>
                                <th>Gender</th>
                                <th>Birth Year</th>
                                <th>Height</th>
                                <th>Mass</th>
                                <th>Hair Color</th>
                                <th>Eye Color</th>
                            </tr>
                            <tr>
                                <td>{{person.gender}}</td>
                                <td>{{person.birth_year}}</td>
                                <td>{{person.height}} cm</td>
                                <td>{{person.mass}} kg</td>
                                <td>{{person.hair_color}}</td>
                                <td>{{person.eye_color}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h3 ng-repeat="s in person.species"><strong>Species: </strong><a href="/species/{{s}}">{{species}}</a></h3>
                    </div>
                    <div class="col-md-6">
                        <h3><strong>Homeworld: </strong><a href="/planets/{{person.homeworld}}">{{homeworld}}</a></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>