<div class="partial" ng-controller="SpeciesDetailController">
    <div class="container">
        <div class="row detail">
            <div class="col-md-4 text-center">
                <img class="detail-img" src="img/{{img}}">
            </div>
            <div class="col-md-8 detail-info">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1 class="title-md">{{species.name}}</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <h4>{{species.description}}</h4>
                    </div>
                    <div class="col-md-4">
                        <h3><strong>Classification: </strong>{{species.classification}}</h3>
                        <h3><strong>Average Height: </strong>{{species.average_height}}</h3>
                        <h3><strong>Average Lifespan: </strong>{{species.average_lifespan}}</h3>
                        <h3><strong>Language: </strong>{{species.language}}</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h3><strong>Homeworld: </strong><a href="/planets/{{species.homeworld}}">{{homeworld}}</a></h3>
                    </div>
                    <div class="col-md-6">
                        <h3><strong>People: </strong><a href="/people/{{p}}" ng-repeat="p in species.people" ng-show="$index < 4">{{people[$index]}}</a> </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>